

<!-- <div class="teamdiv">
    <img id="teampic" src="/assets/images/teampic.jpg" alt="" />
    <h3 class="artist-name-thumbnail">Hellooooooo</h3>
</div> -->
<div class="metacontainer">
<div class="container">
    <img src="/assets/images/teampic.jpg" alt="Team Picture" style="width:100%;">
    <div class="bottom-left">Shachar Zadik</div>
  <div class="top-left">Chaim Finson</div>
  <div class="top-right">Yoni Mateh</div>
  <div class="bottom-right">Adam Shameiss</div>
    <div class="centered">What we do</div>
  </div>
</div>
