.artist-profiles-wrapper {
    width: 100%;
   
 }
 .public-events-title{
     text-align: center;
     color:white;
     font-size: 24px;
     letter-spacing: 0.3px;
 }
 .artists-list-wrapper {
    display: grid;
    padding-bottom: 100px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-columns: 30% 30% 30% ;
    grid-gap: 23px;
    background-color: #fff;
   
  }