<nav-bar-header class="header">

</nav-bar-header>
<section class="hero-homepage">
    <div class="background-img-section">
        <div class="hero-content-container w-container">
            <img src="/assets/images/logo-3.png" class="hero-sector-logo" width="185">
            <h5>Connecting artists and fans in new ways, for private and public events</h5>
            <a href="#" class="button w-button">Explore Shows</a>
        </div>
    </div>
</section>
<section class="planning-event-section">
    <h1>Planning an Event? See who's available!</h1>
    <h5>Book your favorite artist, invite your friends and enjoy</h5>


</section>
